<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    </head>
<body>
    <div class="login-container">
        <h2>Iniciar sesión</h2>
        <form action="#" method="post">
            <div class="form-group">
                Usuario:
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                Contraseña:
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>