{% extends "folder.html" %}

{% block user_selector %}
    <script src="/js/user_selector.js"></script>
    <div id="div-user-selector">
        {% for thisUsuario in users %}
        <div id="div-user-{{ thisUsuario.nombre }}">
            {{ thisUsuario.nombre }}
            <input type="button" name="buttonUsers" value="Eliminar" onclick="removeUser({{ thisUsuario.nombre }})">
        </div>
        {% endfor %}
    </div>
    <input type="button" name="buttonUsers" value="Añadir usuario" onclick="createUserForm()">
{% endblock %}