<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar carpeta</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='user_selector.js') }}"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Editar carpeta</h2>
                    </div>
                    <div class="card-body">
                        <form id="main-form" action="" method="post">
                            <div class="form-group">
                                <div class="card">
                                    <label for="title" class="card-header">Nombre:</label>
                                    <div class="card-body">
                                        <input type="text" class="form-control" id="title" name="title" value="{{ actualName }}">
                                    </div>
                                </div>
                                <br>
                                <div id="div-user-selector" class="card">
                                    <label class="card-header">Usuarios:</label>
                                    {% if users %}
                                        <div class="card-body">
                                            <ul id="list-user-selector" class="list-group list-group-flush">
                                                {% for thisUsuario in users %}
                                                    <li id="li-user-{{ thisUsuario }}" class="list-group-item list-group-flush">
                                                        <div id="div-user-{{ thisUsuario }}">
                                                            <label id="username_to_selector">{{ thisUsuario }}</label>
                                                            <button type="button" class="btn btn-secondary btn-sm" name="buttonUsers" onclick="removeUser('{{ thisUsuario }}')">Eliminar</button>
                                                            <input type="hidden" name="username_from_selector" value="{{ thisUsuario }}">
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <div class="card-footer input-group">
                                        <input type="text" class="form-control" id="user-add-name">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-primary" name="buttonUsers" onclick="addUser()">Añadir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success" name="buttonAction" value="edit">Editar</button>
                                <button type="submit" class="btn btn-secondary" name="buttonAction" value="return">Volver</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
