<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver nota</title>
    </head>
<body>
    <div class="login-container">
        <h2>Ver nota</h2>
        <form action="" method="post">
            <div class="form-group">
                Título:
                <b id="title" > {{ titulo }}</b>
            </div>
            <div class="form-group">
                Contenido:
                <br>
                <p id="content">{{ contenido }}</p>
            </div>
            <br>
            <div class="form-group">
                Creador:
                <b id="creator">{{ creador }}</b>
            </div>
             <div id="div-user-selector">
                Colaboradores:
                <br>
                {% if users %}
                    <ul>
                        {% for thisUsuario in users %}
                            <li id="username_to_selector">{{ thisUsuario }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <br>
            <button type="submit" name="buttonAction" value="return">Volver</button>
        </form>
    </div>
</body>
</html>